In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('house_data.csv')
data.head()

,Living_Space(sqft),No_Of_Bedrooms,No_Of_Bathrooms,Condition(on scale of 5),Year_Build,Swimming Pool,Location,Price
0,1340.0,3.0,1.00,3.0,1955,Yes,Bangalore,221900.0
1,1690.0,3.0,2.25,NaN,1951,NaN,Bangalore,NaN
2,2720.0,2.0,1.00,3.0,1933,No,Bangalore,180000.0
3,1360.0,NaN,3.00,5.0,1965,Yes,Bangalore,604000.0
4,1800.0,3.0,3.00,3.0,1987,Yes,Bangalore,510000.0

In [3]:
data=data.dropna()
data.head()

,Living_Space(sqft),No_Of_Bedrooms,No_Of_Bathrooms,Condition(on scale of 5),Year_Build,Swimming Pool,Location,Price
0,1340.0,3.0,1.0,3.0,1955,Yes,Bangalore,221900.0
2,2720.0,2.0,1.0,3.0,1933,No,Bangalore,180000.0
4,1800.0,3.0,3.0,3.0,1987,Yes,Bangalore,510000.0
5,4760.0,4.0,4.5,3.0,2001,No,Bangalore,1230000.0
7,1650.0,3.0,1.5,3.0,1963,Yes,Bangalore,291850.0

In [4]:
data.Location.value_counts()

Patna        274
Kolkata      232
Chennai      230
lucknow      205
New Delhi    173
Mumbai        57
Bangalore     17
Name: Location, dtype: int64

In [5]:
data.columns

Index(['Living_Space(sqft)', 'No_Of_Bedrooms', 'No_Of_Bathrooms',
       'Condition(on scale of 5)', 'Year_Build', 'Swimming Pool', 'Location',
       'Price'],
      dtype='object')

In [6]:
from statsmodels.stats.outliers_influence import variance_inflation_factor 
  
# creating dummies for Swimming Pool 
data['Swimming Pool'] = data['Swimming Pool'].map({'Yes':1, 'No':0})
data['Location']=data['Location'].map({'Patna':0,'Kolkata':1,'Chennai':2,'lucknow':3,'New Delhi':4,'Mumbai':5,'Bangalore':6})  
# the independent variables set 
X = data[['Living_Space(sqft)','No_Of_Bedrooms','No_Of_Bathrooms','Condition(on scale of 5)','Year_Build','Swimming Pool','Location',]]   
# VIF dataframe 
vif_data = pd.DataFrame() 
vif_data["feature"] = X.columns   
# calculating VIF for each feature 
vif_data["VIF"] = [variance_inflation_factor(X.values, i) 
                          for i in range(len(X.columns))] 

print(vif_data)
#vif_data

                    feature        VIF
0        Living_Space(sqft)  15.360883
1            No_Of_Bedrooms  21.880880
2           No_Of_Bathrooms  15.849897
3  Condition(on scale of 5)  26.340750
4                Year_Build  47.139000
5             Swimming Pool   2.037971
6                  Location   2.593880

In [9]:
data.drop('Year_Build',axis=1)

,Living_Space(sqft),No_Of_Bedrooms,No_Of_Bathrooms,Condition(on scale of 5),Swimming Pool,Location,Price
0,1340.0,3.0,1.00,3.0,1,6,221900.0
2,2720.0,2.0,1.00,3.0,0,6,180000.0
4,1800.0,3.0,3.00,3.0,1,6,510000.0
5,4760.0,4.0,4.50,3.0,0,6,1230000.0
7,1650.0,3.0,1.50,3.0,1,6,291850.0
...,...,...,...,...,...,...,...
1193,890.0,2.0,1.00,3.0,0,3,406000.0
1194,2360.0,6.0,2.50,3.0,1,3,632000.0
1195,1630.0,5.0,2.75,3.0,1,3,357000.0
1196,1200.0,3.0,1.75,3.0,1,3,361000.0
1197,1160.0,2.0,1.00,3.0,1,3,277000.0

In [10]:
X = data[['Living_Space(sqft)','No_Of_Bedrooms','No_Of_Bathrooms','Condition(on scale of 5)','Swimming Pool','Location',]]   
# VIF dataframe 
vif_data = pd.DataFrame() 
vif_data["feature"] = X.columns   
# calculating VIF for each feature 
vif_data["VIF"] = [variance_inflation_factor(X.values, i) 
                          for i in range(len(X.columns))] 

print(vif_data)

                    feature        VIF
0        Living_Space(sqft)  14.747748
1            No_Of_Bedrooms  19.977445
2           No_Of_Bathrooms  15.611694
3  Condition(on scale of 5)  11.902608
4             Swimming Pool   1.968048
5                  Location   2.475131

In [8]:
corrMatrix=data.corr()
corrMatrix.style.background_gradient(cmap='coolwarm')